global:
  scrape_interval: 30s

scrape_configs:
  - job_name: 'argo_bridge'
    static_configs:
      - targets: ['argo_bridge:80']  # Use Docker service name instead of localhost
    bearer_token: $METRICS_TOKEN